### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
purchases = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchases)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
#the total number of players
total_players = len(purchase_data['SN'].value_counts())

#create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:

#* Number of Unique Items
Items = len(purchase_data['Item ID'].value_counts())
Items

#* Average Purchase Price
avg_price=purchase_data["Price"].mean()
avg_price

#* Total Number of Purchases
numpur=len(purchase_data["Item Name"])
numpur

#* Total Revenue
total_rev= purchase_data["Price"].sum()
total_rev


#print summation data frame
purch_analysis=pd.DataFrame({"Unique Items":[Items],
                             "Average Purchase Price":[avg_price],
                             "Total Number of Purchases":[numpur],
                             "Total Revenue":[total_rev]})
purch_analysis=purch_analysis.round(2)
purch_analysis

,Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [136]:
#percentage and count of Male Players
#percentage and count of Female Players
#percentage and count of other/non-disclosed players
gender_stats.df = purchase_data.groupby(["Gender"])
Players=gender_stats.df["SN"].count()

#percentage calculation
player_per=(Players/total_players)*100

#create summation dataframe
gender_summ= pd.DataFrame({"Number of Players": Players,
                                    "Percentage":player_per})
gender_summ= gender_summ.round(2)
gender_summ

                       Number of Players  Percentage
Gender
Female                               113       19.62
Male                                 652      113.19
Other / Non-Disclosed                 15        2.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [132]:
#purchase count analyasis
#create dataframe with desired columns
Purch_analysis_gender=purchase_data[["SN", "Gender", "Item ID", "Price"]]

#seperate created dataframe by gender as the index
grouped_Pur_data.df= Purch_analysis_gender.groupby(['Gender'])

#calculations 
Purchase_count_gender= grouped_Pur_data.df['Item ID'].count()
Avg_Pur_Price = grouped_Pur_data.df['Price'].mean()
Total_Pur=grouped_Pur_data.df['Price'].sum()
Avg_Pur_Person= (Total_Pur/Purchase_count_gender)

#creation of summation dataframe 
purchase_summ=pd.DataFrame({"Purchase Count":Purchase_count_gender,
                            "Average Purchase Price":Avg_Pur_Price,
                            "Total Purchase Value":Total_Pur,
                            "Avg Total Purchase Per Person":Avg_Pur_Person})
purchase_summ=purchase_summ.round(2)
purchase_summ

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [154]:
#Age Demographics 
Age_demo= purchase_data["Age"]

#create bins to hold the data
bins = [0,10,15,20,25,30,35,40,100]

#create the names for the bins
age_cat=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']



Age_demo["Age Category"] = pd.cut(Age_demo, bins, labels=age_cat, include_lowest=True)
Age_demo

Age_totals=Age_demo["Age Category"].value_counts()
Age_perc=((Age_totals/total_players)*100)

Summ_Age_demo=pd.DataFrame({"Age Group Total":Age_totals, "Age Group Percentage":Age_perc})
Summ_Age_demo=Summ_Age_demo.round(2)
Summ_Age_demo

<ipython-input-154-f5f9ef2ba6a4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Age_demo["Age Category"] = pd.cut(Age_demo, bins, labels=age_cat, include_lowest=True)

       Age Group Total  Age Group Percentage
20-24              325                 56.42
15-19              200                 34.72
25-29               77                 13.37
10-14               54                  9.38
30-34               52                  9.03
35-39               33                  5.73
<10                 32                  5.56
40+                  7                  1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [159]:
#create the dataframe pulling desired series from original data
Purch_byAge=purchase_data[["SN", "Age", "Item ID", "Price"]] 

#bin the ages of the dataframe
#create bins to hold the data
bins = [0,10,15,20,25,30,35,40,100]

#create the names for the bins
age_cat=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

Purch_byAge["Age Category"] = pd.cut(Purch_byAge["Age"], bins, labels=age_cat, include_lowest=True)

#calculations 
Purchase_count_Age=Purch_byAge['Item ID'].count()
Avg_Pur_Price_Age = Purch_byAge['Price'].mean()
Total_Pur_Age=Purch_byAge['Price'].sum()
Avg_Pur_Person_Age= (Total_Pur_Age/Purchase_count_Age)


#creation of summation dataframe 
Purch_Age_summ=pd.DataFrame({"Purchase Count":Purchase_count_Age,
                            "Average Purchase Price":Avg_Pur_Price_Age,
                            "Total Purchase Value":Total_Pur_Age,
                            "Avg Total Purchase Per Person":Avg_Pur_Person_Age})
Purch_Age_summ=Purch_Age_summ.round(2)
Purch_Age_summ

<ipython-input-159-f84a00b10e27>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Purch_byAge["Age Category"] = pd.cut(Purch_byAge["Age"], bins, labels=age_cat, include_lowest=True)

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80